.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eaeaea;
  background-color: #f7f9fc;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  margin-left: 20px;
}
